@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$font-title: 'Rubik', sans-serif;


$table-item: #d8d8d8;
$a-hover: #b9b9b9;

// Colors
$color-copyright: #555252;


// Sizes
$full-height: 100vh;