@import './in-common.scss';
@import '../variables.scss';


main.container-fluid {
    background-image: url(../../images/falcon9/01.jpg);

    section.title-falcon9 {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-family: $font-title;

        h1 {
            font-size: 90px;
        }
    }
}

section.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    height: 40vh;
    color: #FFFFFF;
    text-transform: uppercase;

    .row {

        h2.title-numbers {
            font-size: 90px;
        }

        p.description-numbers {
            font-size: 20px;
        }
    }
}

section.falcon9-desc {
    height: $full-height;
    background-image: url(../../images/falcon9/02.jpg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;

    p.description {
        width: 640px;
        font-size: 22px;
        line-height: 50px;
    }
}

section.falcon9-car {

    .carousel-inner {

        .carousel-item {
            height: $full-height;
            background-size: cover;
            background-position: center;
            color: #FFFFFF;

            .container {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .content {
                    width: 500px;
                    margin-left: 9.5em;

                    p.subtitle, 
                    h2.title-car {
                        text-transform: uppercase;
                    }

                    table {
                        color: #FFFFFF;
                    }
                }

            }
                
        }

        .slide-1 {
            background-image: url(../../images/falcon9/03.jpg);
        }
        .slide-2 {
            background-image: url(../../images/falcon9/04.jpg);
        }
        .slide-3 {
            background-image: url(../../images/falcon9/05.jpg);
        }
        .slide-4 {
            background-image: url(../../images/falcon9/06.jpg);
        }
        .slide-5 {
            background-image: url(../../images/falcon9/07.jpg);
        }
    }
}

section.merlin {
    height: 100vh;
    background-image: url(../../images/falcon9/08.jpg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .content {
            width: 500px;
            margin-left: 9.5em;

            p.subtitle, 
            h2.title-car {
                text-transform: uppercase;
            }

            table {
                color: #FFFFFF;
            }
        }
    }
}

section.carousel-cap {
    height: $full-height;

    .carousel-inner {

        .carousel-item {
            height: $full-height;
            background-size: cover;
            background-position: center;
            color: #FFFFFF;

            p {
                background-color: black;
            }
        }

        .slide-1 {
            background-image: url(../../images/falcon9/09.jpg);
        }
        .slide-2 {
            background-image: url(../../images/falcon9/10.jpg);
        }
        .slide-3 {
            background-image: url(../../images/falcon9/11.jpg);
        }
        .slide-4 {
            background-image: url(../../images/falcon9/12.jpg);
        }
        .slide-5 {
            background-image: url(../../images/falcon9/13.jpg);
        }
        .slide-6 {
            background-image: url(../../images/falcon9/14.jpg);
        }
    }
}

section.more-info {
    height: 85vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    p {
        margin-bottom: -2em;

        a {
            color: $color-copyright;
            text-decoration: none;

            &:hover {
                color: $a-hover;
            }
        }
    }
}