@import './in-common.scss';

main.container-fluid {
    background-image: url('../../images/home/01.jpg');

    .arrow-down {

        img {
            display: inline-block;
            width: 90px;
            margin-top: 5px;
        }
    }

}

section#mission-2 {
    height: $full-height;
    background-image: url('../../images/home/03.jpg');
    background-size: cover;
    background-position: center;
}

section#dragon-returned {
    height: $full-height;
    background-image: url('../../images/home/02.gif');
    background-size: cover;
    background-position: center;
}

section#starship {
    height: $full-height;
    background-image: url('../../images/home/04.jpg');
    background-size: cover;
    background-position: center;
}


// Reponsive
// Mobile 
@media (max-width: 426px) {

    main.container-fluid {
    
        section.container { 

            .arrow-down {
                margin-top: 4em;
            }
        }
    }

}

